.container {
	width: 500px;
	margin: 10px
  }
  
  ol {
	color: #555;
	list-style-type: none;
  }
  
  ul {
	list-style: none;
  }
  
  ol li {
	position: relative;
	font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
	margin-bottom: 20px;
  }
  
  ol li p {
	font: 12px/1.5 Helvetica, sans-serif;
	padding-left: 60px;
	color: #555;
  }
  